<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages/>

	<div class="grid_8 floatleft">
		<f:render partial="Club/Search" arguments="{search: search}" />
		<f:render partial="Club/Glossar" arguments="{glossar: glossar}" />
		<f:render partial="Club/List" arguments="{fallbackIconPath: fallbackIconPath, clubs: clubs}" />
	</div>
	<f:render partial="Club/InsertEditLinks" arguments="{allowedUserGroup: allowedUserGroup}" />
</f:section>
</html>
