<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<f:render partial="Club/InsertEditLinks" arguments="{allowedUserGroup: allowedUserGroup}" />
	<f:render partial="Club/Search" arguments="{search: search}" />
	<f:render partial="Club/Filter" arguments="{search: search, categories: categories, subCategories: subCategories}" />

	<f:if condition="{settings.showGlossar}">
		<f:render partial="Club/Glossar" arguments="{glossar: glossar}" />
	</f:if>

	<f:if condition="{clubs}">
		<f:then>
			<f:widget.paginate objects="{clubs}"
												 as="paginatedClubs"
												 configuration="{addQueryStringMethod: 'POST,GET', itemsPerPage: settings.pageBrowser.itemsPerPage, insertAbove: settings.pageBrowser.insertAbove, insertBelow: settings.pageBrowser.insertBelow, maximumNumberOfLinks: settings.pageBrowser.maximumNumberOfLinks}">
				<f:render partial="Club/List" arguments="{clubs: paginatedClubs}" />
			</f:widget.paginate>
		</f:then>
		<f:else>
			<div class="noResults">{f:translate(key: "noResults")}</div>
		</f:else>
	</f:if>
</f:section>
</html>
