<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages/>

    <f:render partial="FormErrors" arguments="{object: Club, type: 'club'}"/>

    <f:form action="create" enctype="multipart/form-data" name="club" object="{club}" class="extform withinfo">
        <legend class="powermail_legend">{f:translate(key: "newEntry")}</legend>

        <f:render partial="Club/FormFields" arguments="{_all}"/>

        <div class="btn-group next submit">
            <f:form.submit class="btn btn-primary" value="{f:translate(key: 'create')}"/>
        </div>
    </f:form>
</f:section>
</html>
