<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{club.currentUserCanEditClub}">
		<p>
			<f:link.action action="edit" arguments="{club: club}" title="{f:translate(key: 'edit')}">
				<span>{f:translate(key: "edit")}</span><span aria-hidden="true" class="icon-arrowright"></span>
			</f:link.action>
		</p>
	</f:if>
	<f:render partial="Club/Properties" arguments="{fallbackIconPath: fallbackIconPath, club: club}" />
</f:section>
</html>
