<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:maps2="http://typo3.org/ns/JWeiland/Maps2/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:render partial="FormErrors" arguments="{object: Club}"/>

	<f:form action="create" name="club" object="{club}" enctype="multipart/form-data">
		<f:if condition="{club.addresses}">
			<f:then>
				<f:for each="{club.addresses}" as="address" iteration="iterator">
					<input type="hidden" name="tx_clubdirectory_clubdirectory[club][addresses][{iterator.index}][__identity]" value="{address.uid}" />
					<dl>
						<dt>{f:translate(key: 'tx_clubdirectory_domain_model_address.title.{address.title}')}:</dt>
						<dd>
							{club.title}<br/>
							{address.street} {address.houseNumber}<br />
							{address.zip} {address.city}
						</dd>
					</dl>
					<maps2:widget.editPoi property="addresses.{iterator.index}.txMaps2Uid" poiCollection="{company.txMaps2Uid}" override="{settings: {mapWidth: '100%', mapHeight: '300'}}" />
				</f:for>
			</f:then>
			<f:else><div>Sie haben keine Adresse angegeben</div></f:else>
		</f:if>
		<f:form.submit class="powermail_submit" value="{f:translate(key: 'create')}" />
	</f:form>
</f:section>
</html>
