<div class="powermail_fieldwrap{f:if(condition: css, then: ' powermail_fieldwrap_{css}')}">
	<label for="{field}" class="powermail_label"><f:translate key="tx_clubdirectory_domain_model_club.{field}" />
	<f:if condition="{mandatory}"><span class="required">*</span></f:if>
	</label>

	<div class="hidden hidden_{field}{f:if(condition: numbers, then: '_0')}">
		<f:translate key="csh{field}{f:if(condition: numbers, then: '_0')}"/>
	</div>
	<span class="csh" title="Hinweis">i</span>
	<f:if condition="{0: type} == {0: 'text'}">
		<f:render partial="Club/Fields/Text" arguments="{_all}" />
	</f:if>
	<f:if condition="{0: type} == {0: 'check'}">
		<f:render partial="Club/Fields/Check" arguments="{_all}" />
	</f:if>
	<f:if condition="{0: type} == {0: 'textarea'}">
		<f:render partial="Club/Fields/Textarea" arguments="{_all}" />
	</f:if>
	<f:if condition="{0: type} == {0: 'select'}">
		<f:render partial="Club/Fields/Select" arguments="{_all}" />
	</f:if>
	<f:if condition="{0: type} == {0: 'logo'}">
		<f:render partial="Club/Fields/Logo" arguments="{_all}" />
	</f:if>
	<f:if condition="{0: type} == {0: 'images'}">
		<f:render partial="Club/Fields/Images" arguments="{_all}" />
	</f:if>
</div>