<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module" />

<f:section name="Content">
    <f:flashMessages/>

	<h1>Clubdirectory: CSV-Export</h1>

	<f:be.infobox title="Information" state="-1" disableIcon="false">
		Will only export clubs where postal address is filled
	</f:be.infobox>

    <f:if condition="{clubs->f:count()} <= 1">
        <f:then>
            <f:be.infobox title="No Records Available!" state="-2">
                There are no records available in the current selected page / folder.
            </f:be.infobox>
        </f:then>
        <f:else>
            <p>
                <a href="{exportPath}" class="btn btn-default">
                    <span class="t3js-icon icon icon-size-small icon-state-default icon-apps-filetree-folder-default" data-identifier="apps-filetree-folder-default" aria-hidden="true" target="_blank">
                        <span class="icon-markup">
                            <svg class="icon-color">
                                <use xlink:href="/_assets/1ee1d3e909b58d32e30dcea666dd3224/Icons/T3Icons/sprites/actions.svg#actions-file-csv-download"></use>
                            </svg>
                        </span>
                    </span>
                    Download CSV-Export
                </a>

                <a href="{f:uri.action(action: 'show', controller: 'ExportModule')}" class="btn btn-default">
                    <span class="t3js-icon icon icon-size-small icon-state-default icon-apps-filetree-folder-default" data-identifier="apps-filetree-folder-default" aria-hidden="true" target="_blank">
                        <span class="icon-markup">
                            <svg class="icon-color"><use xlink:href="/_assets/1ee1d3e909b58d32e30dcea666dd3224/Icons/T3Icons/sprites/actions.svg#actions-document-view"></use></svg>
                        </span>
                    </span>
                    View Records
                </a>

            </p>

        </f:else>
    </f:if>
</f:section>
</html>
